@{
    ViewBag.Title = "Home Page";
}
@section Scripts {
    @Scripts.Render("~/scripts/main-page.js")
    @Scripts.Render("~/scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/scripts/bootstrap-select.min.js")
    
    @Scripts.Render("~/scripts/bootstrap-datepicker.min.js")
   
}

@Styles.Render("~/Content/datepicker.css")
@Styles.Render("~/Content/bootstrap-select.min.css")

<div class="main-content">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="field">Количество взрослых: <input class="form-control adults-amount" type="number" min="1" max="6" value="1" /></label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="field">Количество детей: <input class="form-control children-amount" type="number" min="1" max="6" value="1" /></label>
            </div>
        </div>
        <br>
    </div>
    
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="field">Желаемый период отъезда:</label>
                <input type="text" class="form-control" value="" id="dpd1" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="field"> </label>
                <input type="text" class="form-control" value="" id="dpd2" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="field">Дней в путешествии:</label>
                <input type="text" class="form-control" value="" id="total-days-of-voyage" />
            </div>
        </div>
    </div>

    <div class="row"> 
        <div class="col-md-3">
            <div class="form-group">
                <label class="field">Город отправления: </label>
                <input id="departure-city" class="form-control" data-live-search="true">
            </div>
        </div>
    </div>

    <div class="row" id="fields-of-fields">
        <div class="col-md-3">
            <div class="form-group">
                <div class="point-fields">
                    <label class="field">
                        Выбрать город: <select id="city-picker" data-live-search="true"></select>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <input type="button" id="add-point-button" value="Добавить пункт назанчения" />
</div>