@{
    ViewBag.Title = "Home Page";
}
@section Scripts {
    @Scripts.Render("~/scripts/main-page.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/scripts/bootstrap-select.min.js")
    @Scripts.Render("~/scripts/jquery.rateit.min.js")
    @Scripts.Render("~/scripts/bootstrap-datepicker.min.js")
   
}

@Styles.Render("~/Content/rateit.css")
@Styles.Render("~/Content/datepicker.css")
@Styles.Render("~/Content/bootstrap-select.min.css")

<div class="main-content">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Количество взрослых: <input class="form-control" id="adults-amount" type="number" step="1" min="1" max="6" value="1" /></label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Количество детей: <input class="form-control" id="children-amount" type="number" step="1" min="0" max="6" value="0" /></label>
            </div>
        </div>
        <br>
    </div>
    
    <div class="row dates" id="general-dates">
        <div class="col-md-3">
            <div class="form-group">
                <label>С:</label>
                <input type="text" class="form-control first-date general-date" value="" id="general-departure-day" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>До:</label>
                <input type="text" class="form-control second-date general-date" value="" id="general-arrival-day" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Дней в путешествии:</label>
                <input class="form-control days-in" type="number" min="0" step="1" value="" id="total-days-of-voyage" />
            </div>
        </div>
    </div>

    <div class="row"> 
        <div class="col-md-3">
            <div class="form-group">
                <label>Город отправления: </label>
                <input id="departure-city" class="form-control" data-live-search="true">
            </div>
        </div>
    </div>

    <div id="fields-of-fields">
        <hr>
        <div class="point-fields">
            <label class="field city-label">
                Выбрать город: 
                <select id="city-picker" class="city" data-live-search="true">
                <option value="0">Город</option>
                </select>
            </label>
            <hr>
        </div>    
    </div>
    <button type="button" class="btn btn-dark" id="add-point-button">Добавить пункт назанчения</button>
    <hr>
    <button type="button" class="btn btn-dark btn-lg" id="get-route-button">Составить маршрут</button>
    <div id="routes"></div>
</div>

<div id="modalWindow" class="modal fade" tabindex='-1'>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>

            <div class="modal-body">
                <iframe id="ingredientModalFrame" height="500px" width="100%" src="http://localhost:24052/" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>