@{
    ViewBag.Title = "Home Page";
}
@section Scripts {
    @Scripts.Render("~/scripts/main-page.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/scripts/bootstrap-select.min.js")
    @Scripts.Render("~/scripts/jquery.rateit.min.js")
    @Scripts.Render("~/scripts/bootstrap-datepicker.min.js")
   
}

@Styles.Render("~/Content/rateit.css")
@Styles.Render("~/Content/datepicker.css")
@Styles.Render("~/Content/bootstrap-select.min.css")

<div class="main-content">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Количество взрослых: <input class="form-control" id="adults-amount" type="number" step="1" min="1" max="6" value="1" /></label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Количество детей: <input class="form-control" id="children-amount" type="number" step="1" min="0" max="6" value="0" /></label>
            </div>
        </div>
        <br>
    </div>
    
    <div class="row dates" id="general-dates">
        <div class="col-md-3">
            <div class="form-group">
                <label>С:</label>
                <input type="text" class="form-control first-date general-date" value="" id="general-departure-day" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>До:</label>
                <input type="text" class="form-control second-date general-date" value="" id="general-arrival-day" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Дней в путешествии:</label>
                <input class="form-control days-in" type="number" min="0" step="1" value="" id="total-days-of-voyage" />
            </div>
        </div>
    </div>

    <hr>
    <h3>Общие параметры отелей</h3>

    <div class="row">  
        <div class="col-md-3">
            <label>Количество звезд:  </label>
            <div class="rateit hotel-stars" id="hotel-stars" data-rateit-resetable="false"></div>
        </div>
    </div>

    <div class="row">
        <div>      
            <div class="col-md-3">
                <div class="form-group">
                    <label>Стоимость за ночь:</label>
                    <input class="form-control" id="hotel-cost1" type="number" min=0 placeholder="Минимум">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label> </label>
                    <input class="form-control" id="hotel-cost2" type="number" min=0 placeholder="Максимум">
                </div>
            </div>     
        </div>
    </div>

    <hr>

    <h3>Общие параметры транспорта</h3>
    <div class="row">
        <div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Стоимость:</label>
                    <input class="form-control" id="transport-cost1 " type="number" min=0 placeholder="Минимум">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label> </label>
                    <input class="form-control" id="transport-cost2" type="number" min=0 placeholder="Максимум">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Допустимые типы:</label>
                    <select class="form-control selectpicker" id="transport-class-select" multiple data-selected-text-format="count>3">
                        <option value="aircraft">Самолет</option>
                        <option value="train">Поезд</option>
                        <option value="bus">Автобус</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="row"> 
        <div class="col-md-3">
            <div class="form-group">
                <label>Город отправления: </label>
                <select id="departure-city" class="city city-picker" data-live-search="true">
                    <option value="0">Город</option>
                </select>
            </div>
        </div>
    </div>

    <div id="fields-of-fields">
        <hr>
        <div class="point-fields">
            <label class="field city-label">
                Выбрать город: 
                <select class="city city-picker" id="city-picker" data-live-search="true">
                <option value="0">Город</option>
                </select>
            </label>
            <hr>
        </div>    
    </div>
    <button type="button" class="btn btn-dark" id="add-point-button">Добавить пункт назанчения</button>
    <hr>
    <button type="button" class="btn btn-dark btn-lg" id="get-route-button">Составить маршрут</button>
    <div id="routes"></div>
</div>